

    body{
    background-color: black;
}
.lop1{
    color: white;
    font-size: xx-large;
}
.lop3{
    display: flex;
    justify-content: space-between;

}
*{
    color: white;
}
.lop5{
    text-align: center;
    font-size: x-large;
    
}

a{
    transition: transform 0.3s ease, box-shadow 0.3s ease;;
    text-decoration: none;}

a:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1); 
}
.lop4{
    position: relative;
}
.lop4 .fa-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    color: white;
    background: rgba(0, 0, 0, 0.6); /* Nền tối để dễ nhìn */
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    opacity: 0; /* Mặc định ẩn */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.lop4:hover .fa-play {
    opacity: 1; /* Hiện khi hover */
    transform: translate(-50%, -50%) scale(1);
}
td{
    width: 60vw;
    border: solid yellow;
    text-align: center;
}
td{
    transition: opacity 0.3s ease, transform 0.3s ease;
}
 td:hover{
    transform:  scale(1.1);
    background-color:blueviolet ;
}

